<img src="Assets/images/joabphoto.jpg" alt="Joab Paredes Photo" width="20%" style="float:right">

<br>
<br>


<h3>About Me</h3>
<p>I am an Ecuadorian, 18 years old boy passionate for computers and software development; looking forward to keep learning and getting skills.</p>

<p>I discovered I like programming when I was in high school and some friends of mine had a private group to compete among themselves doing web pages, the fact of understanding how such a simple thing as navigating through internet works seems so exciting to me. </p>

<p>I love to witness how the tech world advances in such a fast way!</p>


<a href="Assets/resume.pdf" target="_blank">
<button class="btn"><i class="fas fa-file-download"></i> Download my resume</button>
</a>