<div class="form">
<main class="form-signin">
  <form class= "text-center">
    
    <h1>You can contact me with this form</h1>


    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" >
      <label for="floatingInput">First Name</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" >
      <label for="floatingInput">Last Name</label>
    </div>

    <div class="form-floating">
      <input type="number" class="form-control" id="floatingInput">
      <label for="floatingInput">Phone number</label>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput">
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput">
      <label for="floatingInput">Leave your message here</label>
    </div>

  

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Click</button>
    
  </form>
</main>
 
</div>

