
<h1>Hi, Welcome to Joab Paredes’ Portfolio!</h1>

<p>I am student in Centennial College, looking for keep growing in this IT area, get a decent job and set my life.</p>

<br>

<p>This web page was designed using</p>

<ul style="list-style-type:disc;">
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript | TypeScript</li>
  <li>Express</li>
  <li>Node.js</li>
</ul> 

<br>

<p>To explore more about me, please go through <a href="/about">About me</a>, check <a href="/projects">my projects</a>, know <a href="/services">my services</a>, or you can <a href="/contact">contact me</a> </p>

