    
    
<img src="Assets/images/services.gif" alt="services gif" width="25%"  class="servicesgif">

<br>

<h1>Here some of my skills</h1>

<br>

<ul>
    <i><i class="fab fa-python fa-lg">   Full Stack Programming</i></i> 
    <br>
    <br>
    <i><i class="fab fa-js-square fa-lg">  Web Development </i></i>
    <br>
    <br> 
    <i><i class="fas fa-database fa-lg">  Database Management</i></i>
    <br>
    <br>
    <i><i class="fab fa-linux fa-lg">  Linux OS management</i></i>
    <br>
    <br>
    <i><i class="fas fa-file fa-lg">  SRS documents creation</i></i>
</ul>



